<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="FormLocationX" value="800"/>
		<add key="FormLocationY" value="50"/>
		<add key="AutoOpen" value="false"/>
		<add key="ResultResident" value="false"/>
	</appSettings>
</configuration>