<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="AppName" value="FloatingWindowApp" />
    <add key="StartStatus" value="false" />
    <add key="DetectStatus" value="false" />
    <add key="ResultStatus" value="false" />
    <add key="BrowserStatus" value="false" />
    <add key="BootUp" value="false" />
    <add key="IFZ" value="1" />
    <add key="RE" value="/d+" />
    <add key="DetectData" value="00379451" />
  </appSettings>
</configuration>